.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.guesses {
    display: flex;
    flex-direction: column;
}

.guesses-label {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    outline-color: aliceblue;
    margin: 1rem;
}

.guesses-label > div {
    width: 100px;
    text-align: center;
    border: solid aliceblue;
    border-radius: 4px;
}

.poke-dropdown {
    background-color: #1a1a1a;
    width: 70%;
    position: absolute;
}

.dropdown-item {
    cursor: pointer;
}

.search-bar {
    margin: 1rem;
    
}